<nav>
    <p>cq</p>
    <img src="https://via.placeholder.com/30" alt="">
    <span>UserName</span>
</nav>
<div id="menu">
    <div class="menu-item" id="sideBtn"><i class="fa fa-bars"></i><span>cq</span></div>
    <div class="menu-item active"><i class="fa fa-home"></i><span>Home</span></div>
    <div class="menu-item"><i class="fa fa-plus-square"></i><span>Add User</span></div>
    <div class="menu-item"><i class="fa fa-list-ul"></i><span>Users List</span></div>
    <div class="menu-item"><i class="fa fa-list-alt"></i><span>Community List</span></div>
    <div class="menu-item"><i class="fa fa-toggle-off"></i><span>Switch As User</span></div>
    <div class="menu-item"><i class="fa fa-tags"></i><span>Tag Panel</span></div>
    <div class="menu-item"><i class="fa fa-lock"></i><span>Change Password</span></div>
    <div class="menu-item"><i class="fa fa-sign-out"></i><span>Logout</span></div>
</div>