<nav>
    <p>cq</p>
    <img src="https://via.placeholder.com/30" alt="" id="profile_button">
    <span style="background: #5cb85c"><%= data[0].role%></span>
    <span style="background: #f0ad4e"><%= data[0].name%></span>
</nav>
<div id="menu">
    <div class="menu-item" id="sideBtn"><i class="fa fa-bars"></i><span>cq</span></div>
    <div class="menu-item active" id="profile_button_left"><i class="fa fa-home"></i><span>Home</span></div>
    <div class="menu-item" id="add_user_button_left"><i class="fa fa-plus-square"></i><span>Add User</span></div>
    <div class="menu-item" id="user_list_button"><i class="fa fa-list-ul"></i><span>Users List</span></div>
    <div class="menu-item" id="community_list_button"><i class="fa fa-list-alt"></i><span>Community List</span></div>
    <div class="menu-item" id="switch_user_button"><i class="fa fa-toggle-off"></i><span>Switch As User</span></div>
    <div class="menu-item" id="tag_panel_button"><i class="fa fa-tags"></i><span>Tag Panel</span></div>
    <div class="menu-item" id="change_password_button"><i class="fa fa-lock"></i><span>Change Password</span></div>
    <div class="menu-item" id="logout_button"><i class="fa fa-sign-out"></i><span>Logout</span></div>
</div>