<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        *{
            box-sizing: border-box;
        }
        body {
			margin: 0;
            padding: 0;
            width: 100%;
            background: #f5f5f5;
            font-family: 'Roboto', sans-serif;
		}
		nav {
            position: absolute;
            width:100%;
            height: 60px;
			background-color: #222D3C;
            color: #fff;
            z-index: 999999999;
		}
		nav p {
            margin: 0;
            float: left;
            height: 50px;
            padding: 15px 15px;
            font-size: 20px;
            line-height: 20px;
            font-weight: bold;
		}
		nav span {
            float: right;
            padding: .2em .6em .3em;
            margin-top: 22px;
            margin-left: 5px;
            font-size: 75%;
            line-height: 1;
            font-weight: 700;
            color: #fff;
            font-size: 14px;
            vertical-align: center;
            border-radius: .25em;
            vertical-align: baseline;
		}
		nav img {
			float: right;
			border-radius: 50%;
			padding: 15px;
        }
		#menu {
            padding-top: 60px;
            background-color: #000;
            width: 50px;
            height:100vh;
            color:white;
            box-sizing: border-box;
            overflow:hidden;
		}
		.fa {
            color: #fff;
			font-size: 25px;
			width: 30px;
			margin: 6px 15px;
			margin-left: 11px;
			box-sizing: border-box;
		}
		.menu-item {
            width: 250px;
			cursor: pointer;
			opacity: 0.8;
			color: #fff;
			font-family: sans-serif;
			font-size: 14px;
            padding-top: 10px;
		}
		.menu-item:hover {
			border-left: 2px solid red;
			opacity: 1;
			background-color: #4d5866;
		}
        .active{
            background: #51a1e2 !important;
        }
        #user_icon{
            height:100%;
            width: 10%;
        }
        #change_password_outerdiv{
            position: absolute;
            top: 15%;
            left: 30%;
            height: 320px;
            width: 40%;
            border: 5px solid rgba(0,0,0,0.1);
            padding: 25px;
            background: #fff;
            color: #333;
        }
        div h1{
            margin:0;
            font-size: 2em;
            margin-top: 15px;
            font-weight: 500;
        }
        *{
            box-sizing: border-box;
        }
        div label{
            transform: translateY(-50%,-50%);
            font-weight: 600;
            display: inline-block;
            width: 100%;
            margin-top: 15px;
            cursor: default;
            box-sizing: border-box;
        }
        div input{
            width:100%;
            margin-top: 7px;
            font-size: 1em;
            height:30px;
            padding:1px;
            border-radius: 4px;
            border: 1px solid #ccc;
        }
        div button{
            margin-top: 30px;
            padding: 9px 13px;
            background: #4cae4c;
            border:0;
            border-color: #449d44;
            color: #fff;
        }
        div button:hover{
            background: #449d44;
        }
        #profile_button{
            cursor: pointer;
        }
    </style>
</head>
<body>
    <% include partials/menu.html %>
    <div id="change_password_outerdiv">
        <h1>Change Password</h1>
        <form>
            <label>Old Password:</label>
            <input id="oldPassword" type="text">
            <label>New Password:</label>
            <input id="newPassword" type="password"><br>
            <button type="submit" id="submit_button">Submit</button>
        </form>
    </div>
</body>
<script>
    var menu = document.getElementById("menu");
    var sideBtn = document.getElementById("sideBtn");
    var change_password_outerdiv = document.getElementById("change_password_outerdiv");
    var span = menu.getElementsByTagName("span");
    var div = menu.getElementsByTagName('div');
    var submit_button = document.getElementById("submit_button");
    for(var i=0;i<div.length;i++){
        div[i].classList.remove("active");
    }
    
    div[7].classList.add("active");

    var profile_button = document.getElementById("profile_button");

    //Buttons on Left Navigation Drawer
    var profile_button_left = document.getElementById('profile_button_left');
    var add_user_button_left = document.getElementById('add_user_button_left');
    var user_list_button = document.getElementById('user_list_button');
    var community_list_button = document.getElementById('community_list_button');
    var switch_user_button = document.getElementById('switch_user_button');
    var tag_panel_button = document.getElementById('tag_panel_button');
    var change_password_button = document.getElementById('change_password_button');
    var logout_button = document.getElementById('logout_button');

	$(document).ready(function(){
      $("#sideBtn").click(function(){
         if($("#menu").width() == 50){
            $("#menu").animate({width: '250px'},300);
            $("#change_password_outerdiv").animate({left:'35%'},300);
         } else{
            $("#menu").animate({width: '50px'},300);
            $("#change_password_outerdiv").animate({left:'30%'},300);
         }
      });
   });
    
    profile_button.addEventListener("click",function(event){
        window.location = '/profile'
    })

    profile_button_left.addEventListener("click",function(event){
        window.location = '/<%= data[0].role%>/profile'
    });

    add_user_button_left.addEventListener('click',function(event){
        window.location = '/<%= data[0].role%>/adduser';
    });

    tag_panel_button.addEventListener("click",function(event){
        window.location = '/tag';
    });

    user_list_button.addEventListener("click",function(event){
        window.location = '/<%=data[0].role%>/userlist';
    });


    //Submit Button Listener to verify password in the database.
    submit_button.addEventListener('click',function(event){
        var email = 'rajat@gmail.com';
        var oldPassword = document.getElementById('oldPassword').value;
        var newPassword = document.getElementById('newPassword').value;
        var password = new Object();
        password._id = '<%= data[0]._id%>';
        password.oldPassword = oldPassword;
        password.newPassword = newPassword;
        var request = new XMLHttpRequest();
        request.open('PUT','/changePassword');
        request.setRequestHeader('Content-Type',"application/json");
        request.send(JSON.stringify(password));
        request.onload = function(){
            var dataReturned = request.responseText;
            if(dataReturned == ""){
                alert('You entered wrong old password');
            }
            else {
                console.log(dataReturned);
                alert('Password changed successfully');
            }
        }
    });

    logout_button.addEventListener("click",function(event){
        $.confirm({
            title: 'Confirm Logout',
            boxWidth: '20%',
            theme: 'supervan',
            backgroundDismissAnimation: 'random',
            useBootstrap: false,
            content: 'Do you really want logout?',
            buttons: {
                Yes: function () {
                // $.alert('Yes');
                var data = new Object();
                data.logout = 1;
                var request = new XMLHttpRequest();
                request.open("POST",'/logout');
                request.setRequestHeader("Content-Type","application/json");
                request.send(JSON.stringify(data));
                },
                No: function () {
                // $.alert('No');
                }
            }
        });
    });

</script>
</html>