*{
    box-sizing: border-box;
}
body{
background: #fff;
padding:0;
margin:0;
overflow-x: hidden;
font-family: 'Roboto', sans-serif;
}
#login_header{
    height: 9;
    width: 100%;
    line-height: 9vh;
    box-shadow: 0px 1px 10px 0px rgb(150, 150, 150);
}
#login_body{
    height:80%;
    width:100%;
}
#login_footer{
    position: absolute;
    bottom: 0;
    height: 12%;
    width: 100%;
    box-shadow: 0px -1px 10px 0px rgb(150, 150, 150);

}
#header_text{
    font-size: 30px;
    vertical-align: center;
    margin-left: 1vw;
}
#login_footer{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 11vh;
    vertical-align: center;
}
#body_inner_div{
    position: absolute;
    height: 42%;
    width: 50%;
    top: 20%;
    left: 25%;
    border: 1px solid rgb(170, 170, 170);
    box-shadow: 0px 0px 10px 0px rgb(180, 180, 180);
}
#login_body_text{
    height: 10vh;
    line-height: 10vh;
    vertical-align: center;
    text-align: center;
    font-size: 34px;
}
form{
    text-align: center;
}
.input_field{
    display: inline-block;
    margin:2% 0px;
    height: 2%;
    width:90%;
    border:0;
    padding: 1%;
    border: 1px solid rgb(200, 200, 200);
    font-size: 17px;
}
#login_button{
    display: inline-block;
    background: #218838;
    border:0;
    font-size: 16px;
    color: #fff;
    padding: 13px 18px;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
#login_button:hover{
    background:#34DC50;
    color: black;
    transition-duration: 500ms;
    transform: scale(1.1);
}
#sign_in_with_div{
    position: absolute;
    padding: 5px;
    transform: translateX(-50%);
    width: 25%;
    left: 50%;
    top: 65%;
    border: 1px solid rgb(170, 170, 170);
    box-shadow: 0px 0px 10px 0px rgb(190, 190, 190);
    text-align: center;
    font-weight: 500;
}
#sign_in_text_div{
    height: 25px;
    line-height: 25px;
    vertical-align: center;
    background: rgb(240,240,240);
}
#sign_in_body_div{
    height: 60px;
}
#github_body_div{
    padding: 2px;
    width: 20%;
    height: 55px;
    margin-top: 6px;
}
#github_body_div:hover{
    background: rgb(210, 210, 210);
    color: rgb(62, 167, 58);
    transform:scale(1.1);
    transition-duration: 200ms;
}
@media only screen and (max-width: 600px) {
    #body_inner_div{
        width: 90vw;
        left:5vw;
        }
    #login_body_text{
        font-size: 25px;
    }
}
